.chat-room {
  display: flex;
  background-color: #000;
  height: 120vh;
  font-family: Arial, Helvetica, sans-serif;
}

.user-list {
  width: 30%;
  padding: 20px;
  border-right: 1px solid #333;
  overflow-y: auto;
  background-color: #0F111A;
}

.user {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}

.user:hover {
  background-color: #222834;
}

.user.active {
  background-color: #313749;
  color:#ffffff
}

.user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.info {
  flex: 1; 
}

.name {
  font-weight: bold;
  color: white;
  float: left;
  padding: 5px 10px;
}

.time {
  font-size: 0.8rem;
  color: #bebebe;
  padding: 5px 10px;
  float: right;
}

.chat-box {
  width: 70%;
  background-color: #141824;
}

.header {
  display: flex;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  padding: 20px;
  border: #25293A 0.01px solid;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-icon {
  display: flex;
  justify-content: space-between;
}

.header-icon-item {
  background-color: #007bff;
  padding: 4px 6px;
  border-radius: 3px;
  text-align: center;
  margin: 2px;
}

.messages {
  height: 60vh;
  overflow-y: auto;
  padding: 20px;
  border: #25293A 0.01px solid;
}

.input-box {
  padding: 20px 0;
  border: #25293A 0.01px solid;
}

.input-box input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin: 10px;
  background-color: #141824;
  color: #fff;
  width: 90%;
}
.input-box input:focus {
  outline: none;
  border-color: transparent;
}

.input-box-function {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.input-box-items {
  display: flex;
  align-items: center;
  color: #b7b7b7;
  padding: 0px 10px 0px;
}

.input-box-icons {
  display: flex;
  align-items: center;
  color: #b7b7b7;
  padding: 0px 10px 0px;
}

.input-box button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;

}


.input-box button:hover {
  background-color: #0056b3;
}

.sent {
    /* background-color: #3774FF; */
    color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: end;

}

.sent-message {
  background-color: #3774FF;
  display: inline-block;
  padding: 14px;
  border-radius: 10px;
  text-align: left;
}


.sent-time {
  padding: 5px;
  font-size: 10px;
  color: #bebebe;
}

.received {
  background-color: #333;
  color: #fff;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.tabs {
  border: #bebebe 0.2px solid;
  border-radius: 10px;
  margin-bottom: 30px;
  background-color: #222834;
}

.user-list .tabs {
  display: flex;
  font-size: 12px;
}

.user-list .tabs div {
  flex: 1;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
}

.user-list .tabs div:hover {
  background-color: #141824;
  color: #3774FF;
  border-radius: 9px;
}
